body {
    background-color: #eee9df;
    font-family: "Poppins", sans-serif;
    color: #0a2966;
    font-size: 14px;
  }

  .top{
    border-radius: 15px;
    background-color: #0a2966;
    width: 60%;
    margin: 35px auto;
    padding: 5px 30px 5px 30px;
    font-family: "Poppins", sans-serif;
    color: white;
    text-align: center;
  }
  
  .kolom {
    border-radius: 15px;
    background-color: white;
    width: 60%;
    margin: 35px auto;
    padding: 30px 30px 50px 30px;
  }
  
  span {
    display: block;
    width: 100%;
    border-bottom: 2px solid #0a2966;
  }
  form {
    padding: 25px 0;
  }
  
  .col-25 {
    float: left;
    width: 20%;
    margin-top: 10px;
  }
  
  .col-75 {
    float: left;
    width: 80%;
    margin-top: 6px;
  }
  
  input[type="text"] {
    width: 98%;
    padding: 5px;
    font-family: "Poppins", sans-serif;
    background-color: rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.5);
  }
  input[type="text"]:hover {
    border: 2px solid rgba(0, 0, 0, 0.3);
  }
  input:focus {
    outline: none;
    border: 2px solid rgba(0, 0, 0, 0.3);
  }