.text {
  margin-bottom: 1rem;
}
.text a {
  display: flex;
  /* justify-content: center; */
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  text-decoration: none;
  color: #0A2966;
  font-size: 14px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
}
.text a:hover {
  font-weight: 400;
  color: #0A2966;
  text-decoration: underline;
}
.text a p {
  margin: 0;
}
.text img {
  width: 30px;
  height: 25px;
}
